.sb-container {
    position: relative;
    width: 150px;
    height: 400px;
    margin: 50px auto 0 auto;
}

.sb-container div {
    position: absolute;
    top: 400px;
    left: 0; 
    width: 300px;
    background: #fff;
    height: 500px;
    border-radius: 5px;
    box-shadow: -1px -1px 3px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;

    -webkit-transform-origin: 25% 90%;
    -moz-transform-origin: 25% 90%;
    -o-transform-origin: 25% 90%;
    -ms-transform-origin: 25% 90%;
    transform-origin: 25% 90%;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.sb-container div:nth-child(1){
    background-color: #ea2a29;
    box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.1), inset 0 10px 0 rgba(255, 255, 255, 0.2);
}



.sb-container div:nth-child(2){
    background-color: #f89322;
    box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 3px 3px 2px rgba(0,0,0,0.2), inset 0 10px 0 rgba(255, 255, 255, 0.2);
}

.sb-container div:nth-child(3){
    background-color: #ffea0d;
    box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 5px 5px 6px rgba(0,0,0,0.3), inset 0 10px 0 rgba(255, 255, 255, 0.2);
}



.sb-container div:nth-child(4){
    background-color: #008253;
    box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 7px 7px 10px rgba(0,0,0,0.4), inset 0 10px 0 rgba(255, 255, 255, 0.2);
}


.sb-container div:nth-child(5){
    background-color: #4c549f;
    box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 9px 9px 14px rgba(0,0,0,0.4), inset 0 10px 0 rgba(255, 255, 255, 0.2);
}


.sb-container div:last-child{
    box-shadow: 
        -1px -1px 3px rgba(0,0,0,0.2),
        12px 12px 20px rgba(0,0,0,0.6),
        inset 2px 2px 0 rgba(255, 255, 255, 0.1);
}

.sb-container div:last-child:after{
    content: '';
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #dddddd;
    background: -moz-linear-gradient(-45deg, #dddddd 0%, #58535e 48%, #889396 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dddddd), color-stop(48%,#58535e), color-stop(100%,#889396));
    background: -webkit-linear-gradient(-45deg, #dddddd 0%,#58535e 48%,#889396 100%);
    background: -o-linear-gradient(-45deg, #dddddd 0%,#58535e 48%,#889396 100%);
    background: -ms-linear-gradient(-45deg, #dddddd 0%,#58535e 48%,#889396 100%);
    background: linear-gradient(135deg, #dddddd 0%,#58535e 48%,#889396 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#889396',GradientType=1 );
    box-shadow: -1px -1px 1px rgba(0,0,0,0.7), 1px 1px 1px rgba(255,255,255,0.1);
}

.sb-container div h4{
    color: rgba(255,255,255,0.9);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    border-top: 1px dashed rgba(0,0,0,0.1);
    border-bottom: 1px dashed rgba(0,0,0,0.1);
    margin: 5px;
    padding: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sb-container div:last-child h4{
    background: rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(255,255,255,0.1);
}

.sb-container div:last-child h5{
    font-size: 20px;
    white-space: nowrap;
    text-align: left;
    margin: 0;
    padding: 0;
    position: absolute;
    line-height: 50px;
    top: 0px;
    left: 0px;
    color: #000;
    text-shadow: -1px -1px 1px rgba(255,255,255,0.1);
    text-transform: uppercase;

    -webkit-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -moz-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -o-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -ms-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    transform: rotate(-90deg) translateX(-157%) translateY(73px);

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.sb-toggle{
    padding: 5px;
    margin: 10px;
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.1);
    text-align: center;
}
ul li,
ul li img
{
    width: 50px;
    height: 30px;
    display:inline;
    list-style: none;
    position: relative;
    left:-50px;

    -webkit-transform: perspective(1000px);
    -o-transform: perspective(1000px);

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; 
}
ul li img:hover
{
    border: 50px solid #000;
    border-radius: 50%;

    -webkit-transform: scale(25,25) translatey(-10px) perspective(600px) rotatey(30deg);
    -o-transform: scale(25,25)translatey(-10px) perspective(600px) rotatey(30deg);
}
ul li:hover
{
    padding-left: 70px;
}
.about { 
    margin: 50px 0 0 0;
}
.about li { 
    text-transform: uppercase; 
    color: white; 
    font: bold 34px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #02a2fe, 2px 2px #02a2fe, 3px 3px #02a2fe;

    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
}
.about li:nth-child(1) { font-size: 18px; letter-spacing: 6px;}
.about li:hover { 
    bottom:300px;
    -webkit-transform: scale(2.2); 
    -moz-transform: scale(2.2); 
    -o-transform: scale(2.2);  
    text-shadow: 1px 1px #02a2fe, 2px 2px #02a2fe, 3px 3px #02a2fe, 4px 4px #02a2fe, 5px 5px #02a2fe, 6px 6px #02a2fe;
}
@-webkit-keyframes simple_animation
{
    0%
    {
        width : 100px;
        height : 100px;
        top : 0px;
        left : 0px;
    }
    50%
    {
        width : 200px;
        height : 150px;
        left : 300px;
        top : 300px;
        -webkit-transform : scaley(-1);
    }
    80%
    {
        width : 150px;
        height : 200px;
        left : 300px;
        top : 300px;
        -webkit-transform : rotate(45deg);
    }
    100%
    {
        width : 100px;
        height : 100px;
        top : 0px;
        left : 0px;
    }   
}

@-moz-keyframes simple_animation 
{
    0%
    {
        width : 100px;
        height : 100px;
        top : 0px;
        left : 0px;
    }
    50%
    {
        width : 200px;
        height : 150px;
        left : 300px;
        top : 300px;
        -moz-transform : scaley(-1);
    }
    80%
    {
        width : 150px;
        height : 200px;
        left : 300px;
        top : 300px;
        -moz-transform : rotate(45deg);
    }
    100%
    {
        width : 100px;
        height : 100px;
        top : 0px;
        left : 0px;
    }   
}

@-ms-keyframes simple_animation 
{
    0%
    {
        width : 100px;
        height : 100px;
        top : 0px;
        left : 0px;
    }
    50%
    {
        width : 200px;
        height : 150px;
        left : 300px;
        top : 300px;
        -mz-transform : scaley(-1);
    }
    80%
    {
        width : 150px;
        height : 200px;
        left : 300px;
        top : 300px;
        -mz-transform : rotate(45deg);
    }
    100%
    {
        width : 100px;
        height : 100px;
        top : 0px;
        left : 0px;
    }   
}

@-o-keyframes simple_animation 
{
    0%
    {
        width : 100px;
        height : 100px;
        top : 0px;
        left : 0px;
    }
    50%
    {
        width : 200px;
        height : 150px;
        left : 300px;
        top : 300px;
        -o-transform : scaley(-1);
    }
    80%
    {
        width : 150px;
        height : 200px;
        left : 300px;
        top : 300px;
        -o-transform : rotate(45deg);
    }
    100%
    {
        width : 100px;
        height : 100px;
        top : 0px;
        left : 0px;
    }   
}


@keyframes simple_animation
{
    0%
    {
        width : 100px;
        height : 100px;
        top : 0px;
        left : 0px;
    }
    50%
    {
        width : 200px;
        height : 150px;
        left : 300px;
        top : 300px;
        transform : scaley(-1);
    }
    80%
    {
        width : 150px;
        height : 200px;
        left : 300px;
        top : 300px;
        transform : rotate(45deg);
    }
    100%
    {
        width : 100px;
        height : 100px;
        top : 0px;
        left : 0px;
    }   
}

iframe.animated
{

    -webkit-animation : simple_animation 5s both 1s ease-out infinite normal;
    -moz-animation : simple_animation 5s both 1s  ease-out infinite normal;
    -ms-animation : simple_animation 5s both 1s  ease-out infinite normal;
    -o-animation : simple_animation 5s both 1s  ease-out infinite normal;
    animation : simple_animation 5s both 1s  ease-out infinite normal;

}


p {
    border-radius:50%;
    height:2px; width:2px;
    position:absolute;
    top:30%; left:50%;
    margin-top:-1px; margin-left:-1px;
    box-shadow:
        -50px -100px 0 40px #6cce74,
        50px -100px 0 40px #c18d46,
        100px    0px 0 40px #c14745,
        50px  100px 0 40px #2e1e5b,
        -50px  100px 0 40px #9c37a6,
        -100px    0px 0 40px #76bdd1;
    -webkit-animation:rotate 12s infinite linear;
    animation:rotate 12s infinite linear;
}
@keyframes rotate {
    16.67% {
        box-shadow:
            -50px -100px 0 40px #76bdd1,
            50px -100px 0 40px #6cce74,
            100px    0px 0 40px #c18d46,
            50px  100px 0 40px #c14745,
            -50px  100px 0 40px #2e1e5b,
            -100px    0px 0 40px #9c37a6;
    }
    33.33%   { 
        box-shadow:
            -50px -100px 0 40px #9c37a6,
            50px -100px 0 40px #76bdd1,
            100px    0px 0 40px #6cce74,
            50px  100px 0 40px #c18d46,
            -50px  100px 0 40px #c14745,
            -100px    0px 0 40px #2e1e5b;
    }
    50%      { 
        box-shadow:
            -50px -100px 0 40px #2e1e5b,
            50px -100px 0 40px #9c37a6,
            100px    0px 0 40px #76bdd1,
            50px  100px 0 40px #6cce74,
            -50px  100px 0 40px #c18d46,
            -100px    0px 0 40px #c14745;
    }
    66.62%   { 
        box-shadow:
            -50px -100px 0 40px #c14745,
            50px -100px 0 40px #2e1e5b,
            100px    0px 0 40px #9c37a6,
            50px  100px 0 40px #76bdd1,
            -50px  100px 0 40px #6cce74,
            -100px    0px 0 40px #c18d46;
    }
    88.88%   { 
        box-shadow:
            -50px -100px 0 40px #c18d46,
            50px -100px 0 40px #c14745,
            100px    0px 0 40px #2e1e5b,
            50px  100px 0 40px #9c37a6,
            -50px  100px 0 40px #76bdd1,
            -100px    0px 0 40px #6cce74;
    }
    100% {
        transform:rotate(-360deg);
        box-shadow:
            -50px -100px 0 40px #6cce74,
            50px -100px 0 40px #c18d46,
            100px    0px 0 40px #c14745,
            50px  100px 0 40px #2e1e5b,
            -50px  100px 0 40px #9c37a6,
            -100px    0px 0 40px #76bdd1;
    }
}
@-webkit-keyframes rotate {
    16.67% {
        box-shadow:
            -50px -100px 0 40px #76bdd1,
            50px -100px 0 40px #6cce74,
            100px    0px 0 40px #c18d46,
            50px  100px 0 40px #c14745,
            -50px  100px 0 40px #2e1e5b,
            -100px    0px 0 40px #9c37a6;
    }
    33.33%   { 
        box-shadow:
            -50px -100px 0 40px #9c37a6,
            50px -100px 0 40px #76bdd1,
            100px    0px 0 40px #6cce74,
            50px  100px 0 40px #c18d46,
            -50px  100px 0 40px #c14745,
            -100px    0px 0 40px #2e1e5b;
    }
    50%      { 
        box-shadow:
            -50px -100px 0 40px #2e1e5b,
            50px -100px 0 40px #9c37a6,
            100px    0px 0 40px #76bdd1,
            50px  100px 0 40px #6cce74,
            -50px  100px 0 40px #c18d46,
            -100px    0px 0 40px #c14745;
    }
    66.62%   { 
        box-shadow:
            -50px -100px 0 40px #c14745,
            50px -100px 0 40px #2e1e5b,
            100px    0px 0 40px #9c37a6,
            50px  100px 0 40px #76bdd1,
            -50px  100px 0 40px #6cce74,
            -100px    0px 0 40px #c18d46;
    }
    88.88%   { 
        box-shadow:
            -50px -100px 0 40px #c18d46,
            50px -100px 0 40px #c14745,
            100px    0px 0 40px #2e1e5b,
            50px  100px 0 40px #9c37a6,
            -50px  100px 0 40px #76bdd1,
            -100px    0px 0 40px #6cce74;
    }
    100% {
        -webkit-transform:rotate(-360deg);
        box-shadow:
            -50px -100px 0 40px #6cce74,
            50px -100px 0 40px #c18d46,
            100px    0px 0 40px #c14745,
            50px  100px 0 40px #2e1e5b,
            -50px  100px 0 40px #9c37a6,
            -100px    0px 0 40px #76bdd1;
    }
}

.a-btn{
    background:#fecc5f;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#feda71,0),color-stop(#febb4a,1));
    background:-webkit-linear-gradient(top, #feda71 0%, #febb4a 100%);
    background:-moz-linear-gradient(top, #feda71 0%, #febb4a 100%);
    background:-o-linear-gradient(top, #feda71 0%, #febb4a 100%);
    background:linear-gradient(top, #feda71 0%, #febb4a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#feda71', endColorstr='#febb4a',GradientType=0 );
    border:1px solid #f5b74e;
    border-color:#f5b74e #e5a73e #d6982f;
    -webkit-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
    -moz-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
    box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
    padding:0px 80px 0px 10px;
    height:38px;
    display:inline-block;
    position:relative;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    float:left;
    margin:10px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn-text{
    padding-top:5px;
    display:block;
    font-size:18px;
    white-space:nowrap;
    color:#996633;
    text-shadow:0 1px 0 #fedd9b;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn-slide-text{
    position:absolute;
    top:35px;
    left:0px;
    width:auto;
    right:52px;
    height:0px;
    background:#fff;
    color:#996633;
    font-size:13px;
    white-space:nowrap;
    font-family:Georgia, serif;
    font-style:italic;
    text-indent:15px;
    overflow:hidden;
    line-height:30px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.5) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.5) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.5) inset;
    -webkit-transition:height 0.3s linear;
    -moz-transition:height 0.3s linear;
    -o-transition:height 0.3s linear;
    transition:height 0.3s linear;
}
.a-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #f5b74e;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(../images/arrow_right.png) no-repeat 50% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn:hover{
    height:65px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
}
.a-btn:hover .a-btn-text{
    text-shadow:0px 1px 1px rgba(0,0,0,0.2);
    color:#fff;
}
.a-btn:hover .a-btn-slide-text{
    height:30px;
}
.a-btn:hover .a-btn-icon-right span{
    opacity:1;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.a-btn:active{
    position:relative;
    top:1px;
    background:#fec354;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#fec354,0),color-stop(#fecd61,1));
    background:-webkit-linear-gradient(top, #fec354 0%, #fecd61 100%);
    background:-moz-linear-gradient(top, #fec354 0%, #fecd61 100%);
    background:-o-linear-gradient(top, #fec354 0%, #fecd61 100%);
    background:linear-gradient(top, #fec354 0%, #fecd61 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec354', endColorstr='#fecd61',GradientType=0 );
    border-color:#d29a3a #cc9436 #c89133;
    text-shadow:0 1px 0 #fee1a0;
    -webkit-box-shadow:0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
    -moz-box-shadow:0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
    box-shadow:0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
}









